@import "./palette.scss";

* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}
nav {
    height: 20px;
    background-color: $menu-colour;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 5px;
}

.menu {
    height: 15px;
    width: 15px;
    padding: 8px 15px;
    &.click {
        border-radius: 2px;
        background-color: $hover-colour;
        border-width: 100%;
    }
    // toggle menu
    &__toggle {
        margin-top: 30px;
        margin-left: 5px;
        width: 200px;
        background-color: rgba(207, 203, 203, 0.945);
        box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        opacity: 0;
        pointer-events: none;
        border: $hover-colour;
    }
    &__toggle.open {
        opacity: 1;
        pointer-events: auto;
    }
    &__toggleItem {
        padding: 5px;
        margin: 5px;
        list-style: none;
        display: flex;
        justify-content: center;
        font-size: 12px;
    }
}

#menu {
    &__photo.hover {
        border-radius: 4px;
        background-color: #388cf6;
        color: white;
    }
    &__welcome.hover {
        border-radius: 4px;
        background-color: #388cf6;
        color: white;
    }
    &__todo.hover {
        border-radius: 4px;
        background-color: #388cf6;
        color: white;
    }
}
body {
    background-image: url(./assets/mac-background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    &-img {
        width: 80px;
        height: 80px;
        padding: 5px;
        margin: 1px;
    }
}
#welcomeIcon {
    background-color: none;
    &.open {
        border: 1px solid $hover-colour;
        border-radius: 4px;
        background-color: $hover-colour;
    }
}

#todoIcon {
    background-color: none;
    &.open {
        border: 1px solid $hover-colour;
        border-radius: 4px;
        background-color: $hover-colour;
    }
}

#photoIcon {
    background-color: none;
    &.open {
        border: 1px solid $hover-colour;
        border-radius: 4px;
        background-color: $hover-colour;
    }
}
#clock {
    width: fit-content;
    height: fit-content;
    color: black;
    font-size: 12px;
    margin-right: 15px;
}

.closeBtn {
    &-container {
        width: 100%;
        background-color: $menu-colour;
    }
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

// photo modal
.modal {
    background-color: #fee0ea;
    width: 400px;
    height: 400px;
    z-index: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid $menu-colour;

    &__container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        opacity: 0;
    }
    &__container.open {
        opacity: 1;
        pointer-events: auto;
    }
    &__img {
        width: 90%;
        height: 90%;
    }
}

// welcome modal
#modal {
    &__container2 {
        opacity: 0;
        pointer-events: none;
    }
    &__container2.open {
        opacity: 1;
        pointer-events: auto;
    }
}

#greeting {
    &__container {
        max-height: 100vh;
        text-align: center;
        display: flex;
        padding: 40% 10%;
    }
}

#modal {
    &__container3 {
        opacity: 0;
        pointer-events: none;
    }
    &__container3.open {
        opacity: 1;
        pointer-events: all;
    }
}
#modal3 {
    height: 600px;
    width: 600px;
}

.todo {
    &__title {
        font-size: 50px;
        text-align: center;
        margin-top: 20%;
    }
    &-container {
        width: 90%;
        height: 100%;
    }
    &__input {
        margin-top: 10%;
        margin-left: 10%;
        width: 50%;
        padding: 10px;
    }
    &__btn {
        width: 20%;
        padding: 10px;
    }
    &__list {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        list-style-type: none;
    }
    &__list.checked {
        text-decoration: line-through;
    }
    &__item {
        margin-top: 10%;
        margin-left: 10%;
        padding-bottom: 5%;
    }
}
