* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    border: 2px solid black;
    background-color: white;
    width: 600px;
    height: 600px;
    z-index: 1;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
        opacity: 1;
    }
    &__container.open {
        opacity: 1;
        pointer-events: auto;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
}

.closeBtn {
    &-container {
        width: 100%;

        background-color: grey;
    }
}

// TO DO LIST
.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    top: 40%;
    min-height: 100px;
    min-width: 300px;

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: lightyellow;
        border: 2px solid red;
    }
    &__input {
        width: 75%;
        height: 45px;
        padding: 12px;
        font-weight: 500;
        position: relative;
        border-radius: 5px;
        font-size: 15px;
        border: 2px solid #d1d3d4;
    }
    &__btn {
        position: relative;
        float: left;
        font-weight: 500;
        font-size: 16px;
        color: lightblue;
        width: 20%;
        height: 45px;
        border-radius: 5px;
        margin-left: 10px;
        border: 2px solid #d1d3d4;
    }

    &__addedTask {
        width: 90%;
        list-style: none;

        &-single {
            padding: 5px;
            margin-left: 10px;
            padding-bottom: 20px;
        }
    }
    &__addedTask-single.complete {
        text-decoration: line-through;
    }
}
